/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  width: 50%;
  margin: auto;
  padding: 10px;
  /*border: solid 4px #403d39;
  border-radius: 6px;*/
  background-color: #ccc5b9;
  width: fit-content;
  color: #252422;
  font-size: 110%;
  letter-spacing: 1px; 
  word-wrap: break-word;
}