html {
    text-align: center;
  }
  
#content {
    padding: 10px;
    border-radius: 12px;
    background-color: #F5F1ED;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='51.96' height='60' viewBox='0 0 69.2820323027551 80' patternUnits='userSpaceOnUse' patternTransform='rotate(163)'%3E%3Crect width='100%25' height='100%25' fill='rgba(204, 197, 185,1)'/%3E%3Cpath d='M60.62 55L58.89 56L57.16 55L57.16 53L58.89 52L60.62 53z' stroke-linejoin='miter' fill='rgba(64, 61, 57,1)'/%3E%3Cpath d='M36.37 69L34.64 70L32.91 69L32.91 67L34.64 66L36.37 67z' stroke-linejoin='miter' fill='rgba(64, 61, 57,1)'/%3E%3Cpath d='M12.12 55L10.39 56L8.66 55L8.66 53L10.39 52L12.12 53z' stroke-linejoin='miter' fill='rgba(64, 61, 57,1)'/%3E%3Cpath d='M12.12 27L10.39 28L8.66 27L8.66 25L10.39 24L12.12 25z' stroke-linejoin='miter' fill='rgba(64, 61, 57,1)'/%3E%3Cpath d='M36.37 13L34.64 14L32.91 13L32.91 11L34.64 10L36.37 11z' stroke-linejoin='miter' fill='rgba(64, 61, 57,1)'/%3E%3Cpath d='M60.62 27L58.89 28L57.16 27L57.16 25L58.89 24L60.62 25z' stroke-linejoin='miter' fill='rgba(64, 61, 57,1)'/%3E%3Cpath d='M38.11 42L34.64 44L31.18 42L31.18 38L34.64 36L38.11 38z' stroke-linejoin='miter' fill='rgba(45, 147, 108,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  }
  
.center {
    width: 50%;
    margin: auto;
  }
  
h1 {
    margin: auto;
    padding: 10px;
    border: 5px dotted #252422;
    border-radius: 6px;
    width: 50%;
    letter-spacing: 2px;
    font-size: 200%;
    color: #ccc5b9;
    background-color: #2d936c;
  }
  
h2 {
    letter-spacing: 2px;
    color: #403d39;
  }
  
/*.minor-section {
    margin: auto;
    padding: 10px;
    width: fit-content;
    background-color: #ccc5b9;    
    color: #252422;
    font-size: 110%;
    letter-spacing: 1px; 
  } */

  .bordered-paragraph {
    padding: 20px;
    box-sizing: border-box;
}

.bordered-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.second-section {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: #ccc5b9;
    width: fit-content;
    color: #2d936c;
    font-size: 115%;
    font-weight: bold;
    letter-spacing: 1px;  
  } 
  
a:visited {
    color: #62AE8E;
  }
  
a:hover {
    color:#fffcf2;
  }
  
li {
    width: fit-content;
    margin: auto;
    margin-bottom: 3px;
    border: 2px solid;
    border-color:#403d39;
    border-radius: 12px; 
    padding: 5px;
    background-color: #403d39;
    color: #ccc5b9;
  }